mixin videoBlock(video)
    a(href=`/videos/${video.id}`).video-mixin 
        //- div.video-mixin__thumb(style=`background-image:url(${video.thumbUrl.replace(/[\\]/g, "/")});background-size:cover;background-position:center`)
        //- Crossorigin does not work for div element.
        div.video-mixin__thumb
            img(src=`${video.thumbUrl}`, crossorigin)
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta
                span #{video.owner.name} #{"\u2022 "}
                span #{video.meta.views} #{video.meta.views < 2 ? "view" : "views"} 

        
