extends base.pug
include mixins/video

block content
    video(src="/" + video.fileUrl, controls)
    div
        p=video.description
        small=video.createdAt
    div
        if video.owner
            small Uploaded by 
                a(href=`/users/${video.owner._id}`) #{video.owner.name} 
            div
                if String(video.owner._id) === String(loggedInUser._id)
                    a(href=`${video.id}/edit`) Edit Video &rarr;
                    br
                    a(href=`${video.id}/delete`) Delete Video &rarr;
        else
            small Uploaded by a user who has withdrawn 